*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Playfair Display', serif, 'Montserrat';
    background-color: #F7F6F8;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
html{
    font-size: 62.5%;
}
h1 p{
    font-family: 'Montserrat';
}
/* .header{
    height: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 3rem;
    background-color: #ffff;
}
.logo{
    justify-self: start;

}
.verification-icon{
    justify-self: center;
}
.question-tag{
    justify-self: end;
} */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    height: 7rem;
    background-color:#ffff;
}
.logo img{
    height: 3rem;
}
.container{
    height: 80vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-box1{
    width: 6rem;
    height: 6rem;
    background-color: #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(2rem);
}
span{
    
}
p{
    font-size: 1.3rem;
}
.container1{
    background-color: rgb(127, 19, 236, 0.2);
    height: 20vh;
    width: 35rem;
    border-radius:2rem 2rem 0rem 0;
    position: relative;
}
.container2{
    background-color:#ffff;
    height: 50vh;
    width: 35rem;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.bx-envelope{
    font-size: 2rem;
}
.box{
    align-items: center;
    justify-items: center;
    padding-bottom: 2rem;
}
.otp-inputs{
display:flex;
gap:1rem;
margin-bottom:2rem;
}

.otp-inputs input{
width:3rem;
height:3.5rem;
font-size:2rem;
text-align:center;
border:1px solid ;
border-radius:6px;
}
.verify-btn{
width: 80%;
padding: 1rem;
font-size:1.6rem;
background:#7F13EC;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}
.otp-inputs input:focus{
outline:none;
border-color:#6c3df4;
}
.resend{
margin-top:1.5rem;
font-size:1.4rem;
}
.box p a{
    text-decoration: none;
    color: #7F13EC;
}
