* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left {
    width: 50%;
    background: url('/images/Left\ Side_\ Professional\ Image\ Section.png') no-repeat center/cover;
    position: relative;
}

.overlay {
    background: rgba(102, 0, 204, 0.6);
    color: white;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 2.3rem;
}

.overlay p {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.stats {
    display: flex;
    gap: 4rem;
}

.stats h2 {
    font-size: 3rem;
}

/* RIGHT SIDE */
.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}

form {
    width: 70%;
}
P{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
form h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.sub {
    margin-bottom: 2.5rem;
    color: gray;
}

input, select {
    width: 100%;
    padding: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to right, purple, blue);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.login {
    margin-top: 15px;
    font-size: 1.3rem;
    text-align: center;
}